.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 16px;
  gap: 16px;
}

.imageThumb {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  overflow: hidden;
}
