.labelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileSelector {
  width: 150px;
  height: 50px;
  border: 1px #000 dashed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  font-size: 20px;
}

.fileInput {
  display: none;
}

.fileInfo {
  flex-direction: row-reverse;
  justify-content: center;
}
