.container {
  width: 100%;
}

.backToTopButton {
  all: unset;
  position: fixed;
  right: 20px;
  bottom: 15px;
  border: 1px solid;
  border-radius: 50px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}
